* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Ubuntu;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    border-bottom: 3px solid rgba(100, 114, 125, 0);
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

#workspaces button {
    padding: 0 5px;
    background-color: {{color_secondary}};
    color: {{color_secondary_fg}};
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/*
.modules-left > *:last-child {
    border-bottom-right-radius: 12px;
}
*/
.modules-right > *:first-child > * {
    border-bottom-left-radius: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: rgba(0,0,0,1);
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    background-color: {{color_secondary_dark}};
    color: {{color_secondary_dark_fg}};
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: {{color_secondary_darker}};
    color: {{color_secondary_darker_fg}};
}

#mode {
    background-color: {{color_primary_darker}};
    color: {{color_primary_darker_fg}};
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 ;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery {
    background-color: #76ce2f;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}


#pulseaudio.muted {
    background-color: #96979E;
}


#custom-media.custom-spotify {
    background-color: {{color_primary}};
    color: {{color_primary_fg}}
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    font-weight: bold;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}



#tray {
    background-color: {{color_secondary_darker}};
    color: {{color_secondary_darker_fg}};
}
#clock {
    background-color: {{color_secondary}};
    color: {{color_secondary_fg}};
}
#language {
    background: {{color_secondary_dark}};
    color: {{color_secondary_dark_fg}};
    padding: 0 5px;
    min-width: 16px;
}
#temperature {
    background-color: {{color_primary_dark}};
    color: {{color_primary_dark_fg}};
}
#memory {
    background-color: {{color_primary_darker}};
    color: {{color_primary_darker_fg}};
}
#cpu {
    background-color: {{color_primary_darkest}};
    color: {{color_primary_darkest_fg}};
}
#pulseaudio {
    background-color: {{color_secondary_darkest}};
    color: {{color_secondary_darkest_fg}};
}
#custom-media {
    background-color: {{color_primary}};
    color: {{color_primary_fg}};
    min-width: 100px;
}
#custom-launcher {
    background-color: {{color_secondary_darker}};
    color: {{color_secondary_darker_fg}};
    padding-left: 16px;
    padding-right: 16px;
}
#custom-exit {
    background-color: {{color_secondary_darkest}};
    color: {{color_secondary_darkest_fg}};
    padding-left: 16px;
    padding-right: 16px;
}
#custom-windows {
    background-color: {{color_primary}};
    color: {{color_primary_fg}};
    padding: 0 16px;
    border-bottom-right-radius: 16px;
}