[Unit]
Description=Run noisetorch input supressor.
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/noisetorch -i
RemainAfterExit=true
ExecStop=/usr/bin/noisetorch -u

[Install]
WantedBy=graphical-session.target
